@media screen and (min-width: 1000px){
    body{
        display: grid;
        grid-template-rows: 325px 500px 500px 500px;
        /* grid-template-columns: auto auto auto; */
    }
}

nav[class = "sticky-bar"]{
    /* FIXME: FIX STICKY! */
    position: sticky;
    top: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

nav ul{
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-columns: repeat(5, 1fr); */
}

i[class = "fa fa-search"]{
    grid-column: 5 / 5;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

main aside{
    grid-column: 2 / 2;
}
